* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    color: white;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c78e05' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;

}
a {
    color: white;
    text-decoration: none;
}
ul{
    list-style:none;
}

.container{
    width: 90%;
    margin: auto;
}
/*Navegador*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 50px;
}

/*Nav left*/
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 15px;
}

.nav-main ul li a{
        padding: 8px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}

.nav-main ul.nav-menu{

    flex: 1;
    margin-left: 20px;
}
/*Clase eventos*/
hr{
    margin: 10px 0;
}
.eventos{
    width: 100%;
    height: 550px;
    background: url(./img/fondo-evento.jpeg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #303030;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px;
}

.btn:hover{
    opacity: .5;
}
.eventos h2,
.eentos p {
    margin-bottom: 10px;
}
/*Nueva Informción*/

.nueva-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.nueva-info img{
    width: 100%;
    height: 350px;
}
